<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.islandmonkey.eqeq"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/eqeqicon"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme" >
        <activity
            android:name="com.islandmonkey.eqeq.EQActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.islandmonkey.eqeq.AboutForm"
            android:label="@string/title_activity_about_form" >
        </activity>
        <activity
            android:name="com.islandmonkey.eqeq.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.islandmonkey.eqeq.EQActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.islandmonkey.eqeq.EQActivity" />
        </activity>
    </application>

    <uses-permission android:name="android.permission.VIBRATE" />

</manifest>
